Source: e303-sms
Section: unknown
Priority: optional
Maintainer: Cactus64k <medved_cool@mail.ru>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/Cactus64k/e303-sms

Package: e303-sms
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tool to able send sms via command line and Huawei e303 modem.
 Tool to able send sms via command line and Huawei e303 modem. 
